.bab-typing {
	&.typing:not(.finished) {
		&::after {
			content: "|";
			font-family: monospace;
		}
	}
	&.fade {
		.letter {
			opacity: 0;
			animation: 1000ms text-fade forwards;
		}
	}
	&.expand {
		.letter {
			display: inline-block;
			transform-origin: 0% 100%;
			animation: 1000ms text-expand forwards;
		}
	}
	&.translate {
		.letter {
			display: inline-block;
			animation: 1000ms text-translate forwards;
		}
	}
}
@keyframes text-fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes text-expand {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@keyframes text-translate {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0%);
	}
}
